$primaryColor_1: #240c00;
$primaryColor_2: #f18500;
$primaryColor_3: #ffca01;
$primaryColor_4: #648d00;
$primaryColor_5: #005200;

// App animation transition
$transition: 0.1s ease-in-out;

// App font family
$fontFamily: "Poppins", sans-serif;

// Loader height and width
$dimension: 4rem;
